In [3]:
import pandas as pd
add = 'RSI'

In [4]:
import warnings
# Suppress the specific FutureWarning
warnings.filterwarnings("ignore", category=FutureWarning, module='sklearn.ensemble._weight_boosting')

In [5]:
df = pd.read_csv('Featured_Engineering_Data_To_CSV.csv')
print(df.shape)
df.head(30)

(619029, 17)

,date,open,high,low,close,volume,Name,RSI,Pct_Change,MA20,MA50,MA100,EMA_6,EMA_12,EMA_26,High_to_Close,Low_to_Close
0,2013-02-08,45.07,45.350,45.000,45.08,1824755,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.270,-0.080
1,2013-02-11,45.17,45.180,44.450,44.60,2915405,A,NaN,-1.064774,NaN,NaN,NaN,NaN,NaN,NaN,0.580,-0.150
2,2013-02-12,44.81,44.950,44.500,44.62,2373731,A,NaN,0.044843,NaN,NaN,NaN,NaN,NaN,NaN,0.330,-0.120
3,2013-02-13,44.81,45.240,44.680,44.75,2052338,A,NaN,0.291349,NaN,NaN,NaN,NaN,NaN,NaN,0.490,-0.070
4,2013-02-14,44.72,44.780,44.360,44.58,3826245,A,NaN,-0.379888,NaN,NaN,NaN,NaN,NaN,NaN,0.200,-0.220
5,2013-02-15,43.48,44.240,42.210,42.25,14657315,A,NaN,-5.226559,NaN,NaN,NaN,44.037687,NaN,NaN,1.990,-0.040
6,2013-02-19,42.21,43.120,42.210,43.01,4116141,A,NaN,1.798817,NaN,NaN,NaN,43.744062,NaN,NaN,0.110,-0.800
7,2013-02-20,42.84,42.850,42.225,42.24,3873183,A,NaN,-1.790281,NaN,NaN,NaN,43.314330,NaN,NaN,0.610,-0.015
8,2013-02-21,42.14,42.140,41.470,41.63,3415149,A,NaN,-1.444129,NaN,NaN,NaN,42.833093,NaN,NaN,0.510,-0.160
9,2013-02-22,41.83,42.070,41.580,41.80,3354862,A,NaN,0.408359,NaN,NaN,NaN,42.537923,NaN,NaN,0.270,-0.220
10,2013-02-25,42.09,42.220,41.290,41.29,3622460,A,NaN,-1.220096,NaN,NaN,NaN,42.181374,NaN,NaN,0.930,0.000
11,2013-02-26,40.62,41.290,40.190,40.97,6185811,A,NaN,-0.775006,NaN,NaN,NaN,41.835267,42.682704,NaN,0.320,-0.780
12,2013-02-27,40.99,41.905,40.830,41.73,3564385,A,NaN,1.855016,NaN,NaN,NaN,41.805191,42.536134,NaN,0.175,-0.900
13,2013-02-28,41.78,42.060,41.450,41.48,3464202,A,NaN,-0.599089,NaN,NaN,NaN,41.712279,42.373652,NaN,0.580,-0.030
14,2013-03-01,41.18,41.980,40.730,41.93,3089323,A,29.624838,1.084860,NaN,NaN,NaN,41.774485,42.305398,NaN,0.050,-1.200
15,2013-03-04,41.75,42.180,41.520,42.03,2435306,A,32.517007,0.238493,NaN,NaN,NaN,41.847489,42.263029,NaN,0.150,-0.510
16,2013-03-05,42.35,43.190,42.340,42.66,3289188,A,37.688442,1.498929,NaN,NaN,NaN,42.079635,42.324102,NaN,0.530,-0.320
17,2013-03-06,43.00,43.520,42.900,43.24,2996908,A,41.022592,1.359587,NaN,NaN,NaN,42.411168,42.465009,NaN,0.280,-0.340
18,2013-03-07,43.30,43.480,42.810,43.25,2414186,A,41.939394,0.023127,NaN,NaN,NaN,42.650834,42.585777,NaN,0.230,-0.440
19,2013-03-08,43.50,43.520,43.020,43.03,3256301,A,56.351792,-0.508671,42.8085,NaN,NaN,42.759167,42.654119,NaN,0.490,-0.010
20,2013-03-11,42.99,43.010,41.730,42.81,5472837,A,48.214286,-0.511271,42.6950,NaN,NaN,42.773691,42.678101,NaN,0.200,-1.080
21,2013-03-12,42.80,43.000,42.590,42.62,3767613,A,53.784861,-0.443822,42.5960,NaN,NaN,42.729779,42.669162,NaN,0.380,-0.030
22,2013-03-13,42.56,43.050,42.400,43.00,2241086,A,64.300626,0.891600,42.5150,NaN,NaN,42.806985,42.720060,NaN,0.050,-0.600
23,2013-03-14,43.03,43.380,43.000,43.32,2840603,A,65.384615,0.744186,42.4435,NaN,NaN,42.953561,42.812359,NaN,0.060,-0.320
24,2013-03-15,43.10,43.220,42.880,43.01,2579690,A,68.143460,-0.715605,42.3650,NaN,NaN,42.969686,42.842765,NaN,0.210,-0.130
25,2013-03-18,42.46,42.700,42.180,42.55,1847766,A,66.188525,-1.069519,42.3800,NaN,NaN,42.849776,42.797724,43.039646,0.150,-0.370
26,2013-03-19,42.68,42.820,41.590,42.00,6246443,A,52.890792,-1.292597,42.3295,NaN,NaN,42.606983,42.674997,42.962635,0.820,-0.410
27,2013-03-20,42.25,42.785,42.220,42.70,3240314,A,61.914063,1.666667,42.3525,NaN,NaN,42.633559,42.678844,42.943180,0.085,-0.480
28,2013-03-21,42.45,42.760,41.630,41.65,4409084,A,47.552448,-2.459016,42.3535,NaN,NaN,42.352542,42.520560,42.847389,1.110,-0.020
29,2013-03-22,41.79,41.790,40.910,41.25,5425027,A,43.521595,-0.960384,42.3260,NaN,NaN,42.037530,42.325089,42.729064,0.540,-0.340

In [6]:
df.date = pd.to_datetime(df.date)
df.set_index('date',inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 619029 entries, 2013-02-08 to 2018-02-07
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   open           619029 non-null  float64
 1   high           619029 non-null  float64
 2   low            619029 non-null  float64
 3   close          619029 non-null  float64
 4   volume         619029 non-null  int64
 5   Name           619029 non-null  object
 6   RSI            611959 non-null  float64
 7   Pct_Change     618524 non-null  float64
 8   MA20           619010 non-null  float64
 9   MA50           618980 non-null  float64
 10  MA100          618930 non-null  float64
 11  EMA_6          619024 non-null  float64
 12  EMA_12         619018 non-null  float64
 13  EMA_26         619004 non-null  float64
 14  High_to_Close  619029 non-null  float64
 15  Low_to_Close   619029 non-null  float64
dtypes: float64(14), int64(1), object(1)
memory usage: 80.3+ MB

In [7]:
df["Label2"] = df.groupby("Name").Pct_Change.shift(-1)
df["Label"] = df["Label2"] > 0
df.drop(columns=['Label2'], inplace=True)

In [8]:
### import models from sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

models = {

    'Random Forest': RandomForestClassifier(n_estimators=100,max_depth=1),
    'AdaBoost': AdaBoostClassifier(n_estimators=100),
    'K-Nearest Neighbors': KNeighborsClassifier(n_neighbors=5),

}

In [9]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# בונה רשימה של המניות ללא כפיליות
stocks = df.Name.unique().tolist()

# הגדרת הפיטצ'רים שלי
features_list = ['open', 'high', 'low', 'close', add]  
all_accuracies = {}  

# הנתונים שאני רוצה שהוא יתאמן עליהם
dff = df[features_list + ['Name', 'Label']].copy()
dff.dropna(inplace=True)

# לולאה על כל מניה
for stock in stocks:
    #הגדרת הנתונים בשביל מניה ספציפית 
    data = dff[dff.Name == stock].copy()
    
    # הגדרת X והגדרת Y
    X = data[features_list]
    y = data['Label']
    
    # הגדרת הטריין והטסט שלי
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    
    # מילון לשמירת דיוק המודלים עבור המניה הנוכחית
    accuracy_results = {}
    
    # לולאה על כל מודל
    for name, model in models.items():

         # אימון המודל
        model.fit(X_train, y_train)
            
        #תוצאת הטסט שלי
        y_pred = model.predict(X_test)
            
        # חישוב הדיוק של המודל
        accuracy = accuracy_score(y_test, y_pred)
            
         # שמירת הדיוק של המודל במילון
        accuracy_results[name] = accuracy
        
    
    # שמירת דיוק המודלים עבור המניה הנוכחית
    all_accuracies[stock] = accuracy_results
    print(stock)  #הדפסה בשביל לראות התקדמות 

# הדפסת המילון לדאטה פריים שיהיה יותר נוח
accuracy_df = pd.DataFrame(all_accuracies).T

# הצגת חמש השורות הראשונות של התוצאות
accuracy_df.head()

A
AAL
AAP
AAPL
ABBV
ABC
ABT
ACN
ADBE
ADI
ADM
ADP
ADS
ADSK
AEE
AEP
AES
AET
AFL
AGN
AIG
AIV
AIZ
AJG
AKAM
ALB
ALGN
ALK
ALL
ALLE
ALXN
AMAT
AMD
AME
AMG
AMGN
AMP
AMT
AMZN
ANDV
ANSS
ANTM
AON
AOS
APA
APC
APD
APH
APTV
ARE
ARNC
ATVI
AVB
AVGO
AVY
AWK
AXP
AYI
AZO
BA
BAC
BAX
BBT
BBY
BDX
BEN
BF.B
BHF
BHGE
BIIB
BK
BLK
BLL
BMY
BRK.B
BSX
BWA
BXP
C
CA
CAG
CAH
CAT
CB
CBG
CBOE
CBS
CCI
CCL
CDNS
CELG
CERN
CF
CFG
CHD
CHK
CHRW
CHTR
CI
CINF
CL
CLX
CMA
CMCSA
CME
CMG
CMI
CMS
CNC
CNP
COF
COG
COL
COO
COP
COST
COTY
CPB
CRM
CSCO
CSRA
CSX
CTAS
CTL
CTSH
CTXS
CVS
CVX
CXO
D
DAL
DE
DFS
DG
DGX
DHI
DHR
DIS
DISCA
DISCK
DISH
DLR
DLTR
DOV
DPS
DRE
DRI
DTE
DUK
DVA
DVN
DWDP
DXC
EA
EBAY
ECL
ED
EFX
EIX
EL
EMN
EMR
EOG
EQIX
EQR
EQT
ES
ESRX
ESS
ETFC
ETN
ETR
EVHC
EW
EXC
EXPD
EXPE
EXR
F
FAST
FB
FBHS
FCX
FDX
FE
FFIV
FIS
FISV
FITB
FL
FLIR
FLR
FLS
FMC
FOX
FOXA
FRT
FTI
FTV
GD
GE
GGP
GILD
GIS
GLW
GM
GOOG
GOOGL
GPC
GPN
GPS
GRMN
GS
GT
GWW
HAL
HAS
HBAN
HBI
HCA
HCN
HCP
HD
HES
HIG
HII
HLT
HOG
HOLX
HON
HP
HPE
HPQ
HRB
HRL
HRS
HSIC
HST
HSY
HUM
IBM
ICE
IDXX
IFF
ILMN
INCY
INFO
INTC
INTU
IP
IPG
IQV
IR
IRM
ISRG
IT
ITW
IVZ
JBHT
JCI
JEC
JNJ
JNPR
JPM
JWN
K
KEY
KHC
KIM
KLAC
KMB
KMI
KMX
KO
KORS
KR
KSS
KSU
L
LB
LEG
LEN
LH
LKQ
LLL
LLY
LMT
LNC
LNT
LOW
LRCX
LUK
LUV
LYB
M
MA
MAA
MAC
MAR
MAS
MAT
MCD
MCHP
MCK
MCO
MDLZ
MDT
MET
MGM
MHK
MKC
MLM
MMC
MMM
MNST
MO
MON
MOS
MPC
MRK
MRO
MS
MSFT
MSI
MTB
MTD
MU
MYL
NAVI
NBL
NCLH
NDAQ
NEE
NEM
NFLX
NFX
NI
NKE
NLSN
NOC
NOV
NRG
NSC
NTAP
NTRS
NUE
NVDA
NWL
NWS
NWSA
O
OKE
OMC
ORCL
ORLY
OXY
PAYX
PBCT
PCAR
PCG
PCLN
PDCO
PEG
PEP
PFE
PFG
PG
PGR
PH
PHM
PKG
PKI
PLD
PM
PNC
PNR
PNW
PPG
PPL
PRGO
PRU
PSA
PSX
PVH
PWR
PX
PXD
PYPL
QCOM
QRVO
RCL
RE
REG
REGN
RF
RHI
RHT
RJF
RL
RMD
ROK
ROP
ROST
RRC
RSG
RTN
SBAC
SBUX
SCG
SCHW
SEE
SHW
SIG
SJM
SLB
SLG
SNA
SNI
SNPS
SO
SPG
SPGI
SRCL
SRE
STI
STT
STX
STZ
SWK
SWKS
SYF
SYK
SYMC
SYY
T
TAP
TDG
TEL
TGT
TIF
TJX
TMK
TMO
TPR
TRIP
TROW
TRV
TSCO
TSN
TSS
TWX
TXN
TXT
UA
UAA
UAL
UDR
UHS
ULTA
UNH
UNM
UNP
UPS
URI
USB
UTX
V
VAR
VFC
VIAB
VLO
VMC
VNO
VRSK
VRSN
VRTX
VTR
VZ
WAT
WBA
WDC
WEC
WFC
WHR
WLTW
WM
WMB
WMT
WRK
WU
WY
WYN
WYNN
XEC
XEL
XL
XLNX
XOM
XRAY
XRX
XYL
YUM
ZBH
ZION
ZTS

      Random Forest  AdaBoost  K-Nearest Neighbors
A          0.506024  0.502008             0.526104
AAL        0.538153  0.510040             0.485944
AAP        0.530120  0.473896             0.413655
AAPL       0.522088  0.493976             0.473896
ABBV       0.449799  0.453815             0.437751

In [10]:
accuracy_df.to_csv(f"stocks_model_accuracies_base+{add}.csv")